*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-color: rgb(202, 232, 251);
}
h1{text-align: center;
    color: rgb(97, 97, 97);
    
    background: linear-gradient( rgb(165, 227, 167),rgb(234, 200, 235));
    margin: 10px auto;
    box-shadow: 5px 10px 15px;
    border-radius: 15px;
    font-style: oblique ;

}
.perfil{
    border-style: solid;
    border-color:rgb(223, 16, 147);
    position: static;
}
h2{
    color: rgb(246, 15, 54);
    margin: 10px auto;
}
h3{
    color: blue;
    margin: 10px auto;
}
input[type="text"] {
    min-width: 100%;
    min-height: 30px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 2px rgb(246, 15, 54);
}
input[type="text"]:hover {
    border: 20px orchid;
    box-shadow: 5px 5px 10px olivedrab;
}
a:hover{
    text-shadow: 5px 5px 10px;
}
.button{background-color: rgb(186, 43, 96);
    color: white;
    padding: 20px 42 px; 
    border-radius: 10px;
    text-align: center;
    font-size: 20px; 
    margin: 6px 4px;
    cursor: pointer;


}
.boton:hover{
    text-shadow: 5px 5px 10px; }

table{border-collapse: collapse; width: 100%}td,th{ padding: 6px;} th{background-color:  rgb(234, 200, 235);}